
!.gitignore
*.SWO
*.a
*.app
*.bin
*.d
*.dll
*.dwo
*.dylib
*.elf
*.exe
*.gch
*.hex
*.ilk
*.la
*.lai
*.lib
*.lo
*.lst
*.map
*.mod
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
*.swp
*.uf2
.DS_Store
.cache
.idea/
CMakeCache.txt
CMakeFiles/
Thumbs.db
build/
cmake-*/
